* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.allContent{
    width : 100vw;
    height: 100vh;
    background: radial-gradient(50% 50% at 61.53% 50%, #AD50D2 3.12%, #62008A 100%);
}
.titleContent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, #3EEB98 16.7%, rgba(220, 255, 238, 0.58) 74.4%);
}
.gameTitle{
font-family: Nunito;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 65px;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;
color: #000000;
padding : 10px 0 10px 0;
}
.nameBox{
    margin : 15px 20% 0 20%;
    padding-bottom: 30px;
    background: rgba(255, 255, 255, 0.09);
border-radius: 16px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.rectangleReponse{
    margin-top : 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding : 2% 12% 2% 12%;
    border: 5px solid #FFFFFF;
box-sizing: border-box;
border-radius: 16px;

}
.textReponse{
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 144px;
line-height: 196px;
background: radial-gradient(50% 50% at 49.9% 50%, #3EEB98 19.27%, #1CAE68 78.28%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
    
.findFeat{
margin-top: 5px;
font-family: Nunito;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}

.reponseBox{
    margin : 15px 30% 0 30%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.textEcritReponse{
    margin-top: 5px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.zoneReponse{
width : 100%;
height: 80%;
height : auto;
display : flex;
align-items: center;
flex-direction: row;
}
.textAreaReponse{
    padding : 3% 20% 3% 20%;
    background: rgba(255, 255, 255, 0.24);
border: 4px solid #FFFFFF;
box-sizing: border-box;
border-radius: 20px;   
font-size: 30px;
font-family: Nunito;
font-style: normal;
font-weight: bold;
color: white;
}
.textAreaReponse:focus{
    outline : none;
}
.envoyer{
width: 100%;
height : 100%;
background: rgba(255, 255, 255, 0.74);
border-radius: 11px;
}